src/main/resources/ResultadoDataBank.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ResultadoBancoSangre" targetNamespace="http://tempuri.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ingresoResultados" type="tns:ingresoResultados"/>
<xs:element name="ingresoResultadosResponse" type="tns:ingresoResultadosResponse"/>
<xs:complexType name="ingresoResultados">
<xs:sequence>
<xs:element minOccurs="0" name="transmisionLISResult" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ingresoResultadosResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="eExceptionCode">
<xs:restriction base="xs:string">
<xs:enumeration value="NO_ERROR"/>
<xs:enumeration value="DB_ERROR"/>
<xs:enumeration value="ACCESO_NO_AUTORIZADO"/>
<xs:enumeration value="ERROR_INTERNO"/>
<xs:enumeration value="SUCCESS"/>
<xs:enumeration value="NOT_FOUND"/>
<xs:enumeration value="METHOD_NO_ALLOWED"/>
<xs:enumeration value="UNSUPPORTED_MEDIA_TYPE"/>
<xs:enumeration value="BAD_REQUEST"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="FCVException" type="tns:FCVException"/>
<xs:complexType name="FCVException">
<xs:sequence>
<xs:element name="code" nillable="true" type="xs:string"/>
<xs:element name="eec" nillable="true" type="tns:eExceptionCode"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ingresoResultados">
    <wsdl:part element="tns:ingresoResultados" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ingresoResultadosResponse">
    <wsdl:part element="tns:ingresoResultadosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FCVException">
    <wsdl:part element="tns:FCVException" name="FCVException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResultadoDataBank">
    <wsdl:operation name="ingresoResultados">
      <wsdl:input message="tns:ingresoResultados" name="ingresoResultados">
    </wsdl:input>
      <wsdl:output message="tns:ingresoResultadosResponse" name="ingresoResultadosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:FCVException" name="FCVException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResultadoBancoSangreSoapBinding" type="tns:ResultadoDataBank">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ingresoResultados">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ingresoResultados">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ingresoResultadosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FCVException">
        <soap:fault name="FCVException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResultadoBancoSangre">
    <wsdl:port binding="tns:ResultadoBancoSangreSoapBinding" name="ResultadoBancoSangreSoap">
      <soap:address location="http://172.16.19.241:8480/s2-enlace-web/ResultadoBancoSangre/ResultadoDataBank"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>